* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.calculadora{
    padding: 10px;
    margin: 20px;
    max-width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: darkgrey;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    border-radius: 10px;
}
.resultado{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
